@using GameStore_Client.ApiConnection.Dtos
@using GameStore_Client.Models
@model GameModel
@{
  GameModel Game = Model;
  Console.WriteLine(Model.Name);
}

<div class="bg-red-200/20 w-fit p-4 rounded border-2 border-black/20 fit-content my-10">
  <div class="text-xl">@Game.Name</div>
  <div class="flex gap-5 text-sm mt-2">
    <div>@Game.Genre</div>
    <div>@Game.Price</div>
    <div>@Game.ReleaseDate</div>
  </div>

</div>