@page
@using GameStore_Client.Models;
@model CatalogModel
@{
  var games = Model.Games;
}

<h1>Games Catalog</h1>

<div class="container px-0 flex flex-wrap gap-5 justify-center mt-10">
  @foreach(var game in games){
    <vc:game-card game=@game />
  }
</div>
