@page
@model IndexModel

@using GameStore_Client.ApiConnection;
@using GameStore_Client.ApiConnection.Dtos;

@inject GamesClient Client;
@{
    ViewData["Title"] = "Home Page";
}

@{
  /*
  List<GameDto> games = [
    new (
      1,
      "Street Fighter II",
      "Fighting",
      19.99M,
      new DateOnly(1992, 7, 15)),
    new (
      2,
      "Final Fantasy XIV",
      "Roleplaying",
      59.99M,
      new DateOnly(2010, 9, 30)),
    new (
      3,
      "Fifa 23",
      "Sports",
      69.99M,
      new DateOnly(2022, 9, 27)),
  ];
  */
  List<GameDto> games = new List<GameDto>();

  Console.WriteLine("Getting games");

  async Task GetGames(){
    //games = await Client.GetGamesAsync();
    Console.WriteLine(games);
  }
  
  await GetGames();
  
  Console.WriteLine("Retrieved games");

}

<div class="text-center">
    <h1 class="display-2">Welcome to GameStore</h1>
    <h2 class="lead">Your one stop shop for interactive entertainment</h2>
    
    <div class="text-blue-600 text-md font-bold ">Hello, This is Tailwindcss & .NET 8</div>

    <div class="container mt-5">
      <div class="row flex justify-content-center">Games Catalog</div>
      <div class="row">
        <div class="col">Game #1</div>
        <div class="col">Game #2</div>
        <div class="col">Game #3</div>
      </div>
    </div>

    <div>
      @foreach(var game in games){
        <div>@game</div>
      }
    </div>
</div>
