@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome to GameStore</h1>
    <h2 class="lead">Your one stop shop for interactive entertainment</h2>
    

    <div class="container mt-5">
      <div class="row flex justify-content-center">
        Games Catalog
      </div>
      <div class="row">
        <div class="col">Game #1</div>
        <div class="col">Game #2</div>
        <div class="col">Game #3</div>
      </div>
    </div>
</div>
