@page
@model IndexModel
@using GameStore_Client.ApiConnection;
@using GameStore_Client.ApiConnection.Dtos;
@using GameStore_Client.Models;

@inject GamesClient Client;
@{
    ViewData["Title"] = "Home Page";
}

@{
  List<GameModel> games = [
    new GameModel{
      Id = 1,
      Name = "Street Fighter II",
      Genre = "Fighting",
      Price = 19.99M,
      ReleaseDate = new DateOnly(1992, 7, 15)
    },
    new GameModel{
      Id = 2,
      Name = "Final Fantasy XIV",
      Genre = "Roleplaying",
      Price = 59.99M,
      ReleaseDate = new DateOnly(2010, 9, 30)
    },
    new GameModel{
      Id = 3,
      Name = "Fifa 23",
      Genre = "Sports",
      Price = 69.99M,
      ReleaseDate = new DateOnly(2022, 9, 27)
    }
  ];
  //List<GameDto> games = new List<GameDto>();

  bool showSpecialOffer = true;

  
  GameModel myGame = new GameModel{
    Name = "Super Smash Bros. Melee",
    Genre = "Platform Fighting",
    Price = 59.99M,
    ReleaseDate = new DateOnly(2001, 11, 21)
  };

  GameModel myGame2 = new GameModel{
    Name = "Street Fighter II",
    Genre = "Fighting",
    Price = 19.99M,
    ReleaseDate = new DateOnly(1992, 7, 15)
  };

  Console.WriteLine(myGame.Name);

  Console.WriteLine("Getting games");

  async Task GetGames(){
    //games = await Client.GetGamesAsync();
    Console.WriteLine(games);
  }
  
  //await GetGames();
  
  Console.WriteLine("Retrieved games");

}

<div class="text-center">
    <h1 class="display-2">Welcome to GameStore</h1>
    <span class="lead">Your one stop shop for interactive entertainment</span>

    <div class="text-5xl font-bold mt-10">New In Stock</div>
    
    <div class="container flex flex-wrap justify-center gap-5 my-10">
      @foreach(var game in games){
        <vc:game-card game=@game />
      }
    </div>

    <div class="container mx-auto flex justify-center mt-10">
      @if(showSpecialOffer){
        <div>
          <div class="text-xl text-red-500">Special Offer!</div>
          <vc:game-card game=@myGame />
        </div>
      }
      else {
       
      }
    </div>

    <div class="mt-10">
      @{ 
        DateTime today = DateTime.Now;
        DayOfWeek weekDay = today.DayOfWeek;
      }
      @switch (weekDay)
      {
        case (DayOfWeek.Sunday):
          <p>Today is Sunday, the shop is closed, we'll be open again on Monday.</p>
          break;
        default:
          <p>Today is @weekDay... the shop is open, come on over!</p>
        break;
      }
    <div>
    
</div>
