@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac tempor libero, sed facilisis lorem. Duis finibus dolor est, eget lobortis felis feugiat vitae. Praesent volutpat arcu sodales, mattis sapien quis, fermentum sem. Pellentesque tincidunt lorem consequat urna ullamcorper egestas. Donec nibh justo, dapibus vitae euismod at, hendrerit eget arcu. Aliquam luctus ullamcorper iaculis. Aenean consectetur nisi nisl, id mollis nisi hendrerit a. Sed euismod ligula at mauris ullamcorper auctor. Fusce ut consectetur ipsum.</p>

<p>Aliquam erat volutpat. Proin eget felis erat. Maecenas molestie egestas condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed lacus tincidunt, euismod sem ornare, dignissim dui. Integer id commodo nisi. Sed eget bibendum urna, sit amet sagittis felis. Phasellus suscipit eleifend velit eget aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam vel quam sit amet diam placerat sagittis at eget ligula. Sed dapibus ex nec arcu finibus feugiat. Nunc ultricies felis eget dui convallis porttitor. Vivamus non facilisis mauris. Nullam ullamcorper ornare pellentesque. Proin ut mollis mauris, quis dapibus mauris. Etiam vel nisi in tortor viverra scelerisque non at ex.</p>

<p>Cras lorem justo, consectetur quis hendrerit ac, auctor id velit. Quisque congue leo rutrum, interdum dui pulvinar, euismod lorem. Pellentesque suscipit mattis quam id fringilla. Nulla ut interdum nisl, sed volutpat dui. Donec eu urna sit amet leo iaculis hendrerit eu elementum leo. Donec vitae nisi euismod odio tincidunt condimentum id quis tortor. Mauris et consequat nisl. Maecenas id velit eget lorem lacinia interdum. Quisque vel suscipit nisl.</p>

<p>Sed pulvinar purus et mauris aliquam, sed posuere augue commodo. Fusce in laoreet lectus, at mattis eros. Praesent pretium diam ut purus lacinia blandit. Cras eleifend elit ligula, sit amet pretium eros aliquam vel. Donec nec ligula id tellus maximus vulputate quis eu mauris. Maecenas accumsan facilisis ipsum, quis consectetur neque suscipit accumsan. In hac habitasse platea dictumst. Nulla facilisi. Fusce est tortor, vehicula a tincidunt nec, lacinia et erat. Donec ornare nisi a odio eleifend viverra ac ac erat. Donec et fringilla mauris, sit amet convallis metus. In tellus augue, tristique imperdiet viverra non, posuere id nisi. Donec eget massa eget magna ultrices mattis. Mauris rutrum odio id odio congue molestie. Duis viverra consectetur justo, quis laoreet nulla ultricies ullamcorper.

<p>Morbi sit amet pellentesque odio. Nulla ullamcorper mauris id ex egestas rhoncus. Nullam rhoncus a eros et luctus. Suspendisse egestas, mauris id sollicitudin mattis, nisl ipsum porta nisi, a malesuada arcu nisi a dui. Duis eget rutrum leo. Pellentesque fringilla purus laoreet, hendrerit ligula id, commodo orci. Nunc facilisis dolor in velit pellentesque condimentum. Curabitur at elementum enim.</p>
